.aside {
  padding: 2rem;
  width: 20%;
  height: 80vh;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  div {
    margin-bottom: 1rem;
  }
  span {
    margin-right: 1rem;
  }
  h4,
  h5 {
    padding-top: 0.5rem; /* Add 0.5rem padding to the top */
    padding-bottom: 1rem;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  h4 {
    font-weight: 600;
  }
  h6 {
    padding-top: 0.5rem;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
  }
  p {
    padding: 0.5rem 0;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
    white-space: nowrap;
  }
  &:hover {
    overflow-y: scroll;
  }
  .switch_span {
    margin-left: 0.5rem;
  }
}

.aside::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.aside::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.aside::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.aside::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .aside {
    position: absolute; /* Set the second div to relative position */
    width: 60%;
    top: 0;
    left: -100%;
    z-index: 1;
    background-color: #ffffff;
    transition: left 0.3s ease;
  }
  /* CSS rules for mobile screens */
  .slideIn {
    left: 0;
  }
}
